.gradient-background {
  background: linear-gradient(300deg, #CABADE, #E0BBAC, #BADED8);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }

}

.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(3rem, 6vw, 5rem);
  grid-area: 2/3 ;
  white-space: nowrap;
  display: flex;
  margin: 0;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2rem, 6vw, 3rem);
  grid-area: 3/3 ;
  white-space: nowrap;
  display: flex;
  margin: 0;
}



#intro {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-intro {
  display: grid;
  grid-template-columns: repeat(5, f1);
  grid-template-rows: repeat(5,f1);
}



.computer {
    grid-area: 1 / 4;
    width: 18rem;

}

.blueb {
    grid-area: 2/2;
    width: 16rem;
}

.calc {
    grid-area: 3/4;
    width: 18rem;
    
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

#past-proj > .container {
    display: flex;
    flex-direction: column;
}

.ayman {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.jersey-10-regular1 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  grid-area: 3/3 ;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

hr {
    border: dotted #CABADE 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

@media (max-width: 1200px ) {
  .computer {
    width: 100px;

}

.blueb {
    width: 100px;
}

.calc {
    width: 100px;
    
}

}


@media (max-width: 1000px) {
  #past-proj .row {
    flex-direction: column;
  }

  #past-proj .col-md-4 {
    width: 100%;
  }
}
